@font-face {
    font-family: 'source_code_proextralight';
    src        : url('sourcecodepro-extralight-webfont.woff2') format('woff2'),
        url('sourcecodepro-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style : normal;

}

@font-face {
    font-family: 'source_code_prolight';
    src        : url('sourcecodepro-light-webfont.woff2') format('woff2'),
        url('sourcecodepro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style : normal;

}

@font-face {
    font-family: 'source_code_proregular';
    src        : url('sourcecodepro-regular-webfont.woff2') format('woff2'),
        url('sourcecodepro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style : normal;

}

@font-face {
    font-family: 'source_code_prosemibold';
    src        : url('sourcecodepro-semibold-webfont.woff2') format('woff2'),
        url('sourcecodepro-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style : normal;

}

@font-face {
    font-family: 'source_code_problack';
    src        : url('sourcecodepro-black-webfont.woff2') format('woff2'),
        url('sourcecodepro-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style : normal;

}

@font-face {
    font-family: 'source_code_probold';
    src        : url('sourcecodepro-bold-webfont.woff2') format('woff2'),
        url('sourcecodepro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style : normal;
}

#Container {
    background-color: black;
    display         : flex;
    width           : 100%;
    position        : absolute;
    top             : 0px;
    left            : auto;
    margin          : auto;
    text-align      : left;
}

#Content {
    display                 : flex;
    flex-direction          : column;
    background-image        : url("background.png");
    background-position     : left top;
    background-size         : 100%;
    background-attachment   : scroll;
    background-repeat       : no-repeat;
    background-color        : white;
    margin                  : auto;
    top                     : 0px;
    font-family             : 'source_code_proregular';
    width                   : 80VW;
    /* border               : 1px red solid;  */
}

em {
    font-style: normal;
}

ul.no-bullets {
    list-style-type: none;
    /* Remove bullets */
    padding        : 0;
    /* Remove padding */
    margin         : 0;
    /* Remove margins */
}

main {
    display       : flex;
    flex-direction: row;
    margin        : 0 0 5vh 0;
}

header {
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;
    margin        : 15VH 0vw 0vh 0vw;
    width         : 100%;
    font-family   : 'source_code_prolight';
    text-align    : center;
    font-size     : 7rem;
}

.mug-shot {
    width       : 20VW;
    -webkit-mask: radial-gradient(circle closest-side, #fff 95%, transparent 100%);
    mask        : radial-gradient(circle closest-side, #fff 95%, transparent 100%);
    /* clip-path: circle(90px at center);*/

}


.header-text {
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;
    width         : 50vw;
    min-width     : 500px;
    margin-left   : 5vw;
    /* border     : 1px rgb(212, 120, 0) solid; */

}

.header-img {
    /* border : 1px rgb(212, 120, 0) solid; */
    margin: 0 0 0 5vw;

}

.header-left {
    margin-left: 5vw;
    height     : fit-content;
    /* border  : 1px blue solid; */
}

.header-right {

    margin         : auto;
    margin-right   : 5vw;
    /* border      : 1px blue solid; */

}

aside.SideBarLeft {
    width     : 19VW;
    text-align: left;
    padding   : 0VH 5VW 0VH 5VW;
}

section {
    margin    : 0vh 0vw 5vh 0vw;
    width     : 40VW;
    padding   : 0vh 5vw;
    list-style: circle;
}

.circle {
    list-style: circle;
}

footer {
    position        : absolute;
    bottom          : 0vw;
    display         : block;
    width           : 80vw;
    background-color: #eae8e8;
    color           : black;
    padding         : 20px 0px;
    margin          : auto;
    text-align      : center;
}

footer a {
    margin: 20px;
    ;
}

@media screen and (max-width: 999px) {
    #content {
        width           : 100%;
        background-image: none;
        background-color: #eae8e8;
        min-width       : 640px;
        ;
    }

    .mug-shot {
        width: 50vw;
    }

    header {
        width : 60vw;
        margin: 0 auto;
    }

    main {
        flex-wrap: wrap;
    }

    aside.SideBarLeft {
        width    : 70vw;
        margin   : 0 auto;
        padding  : 0 5vw;
        font-size: 2.5rem;
    }

    aside.SideBarLeft table {
        margin   : 5vh 0;
        width    : 80vw;
        padding  : 0 5vw;
        font-size: 2.5rem;
    }

    section {
        font-size: 2.5rem;
        width    : 70vw;
        margin   : 0 auto;
    }

    footer {
        width: 100%;
    }
}